<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="../public/css/x-global.css" type="text/css">
    <link rel="stylesheet" href="../public/css/content.css" type="text/css">
    <link rel="stylesheet" href="../public/css/non-logged-in-content.css" type="text/css">
    <link rel="stylesheet" href="../public/css/navbar.css" type="text/css">
    <link rel="stylesheet" href="../public/css/navbar-item.css" type="text/css">
    <link rel="stylesheet" href="../public/css/form-input.css" type="text/css">
    <link rel="stylesheet" href="../public/css/post.css" type="text/css">
</head>
<body>
    <%- include("partials/navbar.ejs") %>
    <main class="content">
        <% if (locals.user) {%>
        <h2>Welcome back <%= locals.user.first_name + " " + locals.user.last_name %></h2>
        <% if (locals.posts && locals.posts.length > 0) { %>
            <section class="post-container">
                <% locals.posts.forEach(function(post) { %>
                    <div class="post">
                        <div class="post-header">
                            <h2><%= post.title %></h2>
                            <h3>Author: <%= post.first_name + " " + post.last_name %></h3>
                        </div>
                        <p><%= post.body %></p>
                        <% if (locals.user.membership_status === "member" || locals.user.is_admin) { %>
                            <p>Created At: <%= post.created_at.toLocaleString() %></p>
                        <% } %>
                        <% if (locals.user.is_admin) { %>
                            <form name="deletePost" action="/post/delete/<%= post.id %>" method="POST">
                                <button class="post-delete-btn" type="submit">Delete</button>
                            </form>
                        <% } %>
                    </div>
                <% }) %>
            </section>
        <% } else { %>
            <p>Zero posts available</p>
        <% } %> 
    </main>   
      <% } else { %>
        <main class="non-logged-in-content">
            <h2>Welcome to the Secret Forum</h2>
            <p>This is a members-only forum where you can login to view and make anonymous posts</p>
            <form action="/auth/login" method="GET">
                <button class="non-logged-in-content-submit-btn" type="submit">Login</button>
            </form>
        </main>
      <%}%>
</body>
</html>